* { 
	border: 1px solid rgba(255, 255, 255, 0.3);
  }   

  .banner-container {
	width: 100%;
  }

  #banner-logo {
	width: 100%;
	z-index: 97;
	padding-top: 1%;
  }
  
  .main-container {
	display: flex;
	display: -webkit-flex;
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
	width: 50%;
  }
  
  .main-text {
	margin: auto 10%;
  } 
  
  .main-text li {
	margin: .75rem;
	list-style-position: inside;
	text-indent: 1rem;
	font-family: Roboto, Arial, sans-serif;
  }  
  
	@media only screen and (max-width: 1343px) {
  .empty {
	height: 8rem;
  }
  }
  
  @media only screen and (max-width: 1200px) {
  .empty {
	height: 12rem;
  }
  .main-container {
	width: 100%;
  }
  .affiliation {
	width: 70%;
  }
  
  @media only screen and (max-width: 546px) {
  .empty {
	height: 16rem;
  }
  .navigation li {
	font-size: 12px;
  }
  }