* { 
	/*border: 1px solid rgba(255, 255, 255, 0.3);*/
  }   

  .banner-container {
	/*opacity: 0.6; Makes text children also opaque, so changed image opacity manually*/
	background-size: cover;
	background-image: url("images/guitar-banner50.png");
	background-position: center;
	height: 25rem;
	background-repeat: no-repeat;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 97;
  }
  
  .banner-container h1 {
	opacity: 1;
  }
  
	@media only screen and (max-width: 1009px) {
  .empty {
	height: 8rem;
  }
  }
  
  @media only screen and (max-width: 750px) {
  .empty {
	height: 12rem;
  }
  .main-container {
	width: 100%;
  }
  }
  
  @media only screen and (max-width: 546px) {
  .empty {
	height: 16rem;
  }
  .navigation li {
	font-size: 12px;
  }
  }